{% extends 'base.html' %}

{% block content %}

    <h1 class="w-[1236px] h-[231px] text-white text-[84px] font-light font-['Almarai'] pl-10 ml-40 mt-40 mb-0">Welcome back, {{ nama }}.</h1>
    <h2 class="w-[1236px] h-[231px] text-white text-[60px] font-light font-['Almarai'] pl-10 ml-40 mt-0">Let's read!</h2>
    <!-- <div class="w-[1000px] h-[0px] divider-vertical content-center"></div> -->
    <div class="text-right text-white text-[25px] font-['Chivo']">YOUR RECENT REVIEWS</div>

{% endblock content %}