{% extends 'base.html' %}

{% block content %}

    <div class="text-white font-light font-['Almarai'] pl-10 ml-40 mt-40 mb-0">
        <h1 class="w-[1236px] text-[84px]">
            Welcome back, <u>{{ nama }}.</u>
        </h1>
        <h2 class="w-[1236px] text-[60px] mt-0">
            Let's read!
        </h2>
    </div>
    
    <div class="items-center justify-center w-full">
        <hr class="w-[1200px] h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
        <div class="text-right text-white text-[25px] font-['Chivo'] mt-30">YOUR RECENT REVIEWS</div>
    </div>

{% endblock content %}