<!-- {% extends 'base.html' %}

{% block content %}
<div class="rounded-xl shadow-lg bg-zinc-800 relative text-white m-10 flex items-center justify-center">
    <div class="p-6 flex flex-row-2">
        <div class="m-auto min-w-fit m-auto">
            <img src="{{book.image_link}}" alt="Cover for {{book.title}}" class="rounded-xl w-96">
        </div>

        <div class="m-auto ml-10">
            <p class="mb-1">
                Title&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{book.title}} <br>
            </p>
            <p class="mb-1">
                Category&nbsp&nbsp&nbsp&nbsp&nbsp: {{book.category}} <br>
            </p>
            <p class="mb-1">
                Reviews&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{book.number_of_reviews}} <br>
            </p>
            <p class="mb-1">
                Stars&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: {{book.stars}} <br>
            </p>
            <p class="mb-1">
                Description&nbsp: <p class="text-s md:text-s overflow-hidden">{{book.book_description}}</p>
            </p>
        </div>
    </div>
</div>
{% endblock content %} -->