{% extends 'base.html' %}

{% block content %}
<div class="text-white mx-3">
<head>
    <title>Top 5 Readlists</title>
</head>
<body>
    <h1 class="text-3xl font-bold mb-4">Top 5 Readlists</h1>
    <div class="grid grid-cols-5 gap-4">
        {% for readlist in top_5_readlists %}
            <div class="rounded-xl shadow-lg bg-zinc-800 relative">
                {% if readlist.books.first %}
                    <img class="rounded-xl overflow-hidden w-52 mt-9 ml-9" src="{{ readlist.books.first.image_link }}" alt="{{ readlist.books.first.title }}">
                {% endif %}
                <div class="p-4 space-y-2">
                    <h2 class="text-lg font-bold">{{ readlist.name }}</h2>
                    <h5>Made by: {{ readlist.user.username }}</h5>
                    <ul>
                        {{readlist.description}}
                    </ul>
                    <ul>likes: {{readlist.likes}}</ul>
                    <ul><button id="likeBtn">like</button></ul>
                    <br>
                    <ul>
                        <a href="{% url 'show_readlist_by_id' pk=readlist.pk %}" class="btn text-center bg-gray-600 
                        text-white py-2 rounded-lg font-semibold mt-4 hover:bg-gray-400 focus:scale-95 transition-all duration-50 
                        absolute inset-x-3 bottom-3">
                            Details
                        </a>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'readlist:create_readlist' %}" class="btn-primary">Create your own read list</a>
</body>
</div>


{% endblock content %}