{% extends 'base.html' %}

{% block content %}
    <div class="text-white my-5 mx-3 text-center">
        <p id="sorting" class="text-5xl text-center mb-0">Reviews, Bookmarks and Likes</p>
    </div>

    <div class="container mx-14 my-6">
        <div class="book-list">
            <h2 class="text-xl font-semibold text-white">
                <ion-icon name="timer-outline" class="text-white"></ion-icon>
                History
            </h2>
            <div class="book-items">
                <div class="flex items-center justify-content-center container mx-auto my-8">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">
                {% for book in books_read %}
                    <div class="rounded-xl shadow-lg bg-zinc-800 relative">
                        <div class="p-5 flex flex-col">
                            <img src="{{ book.image_link }}" alt="Cover for {{ book.title }}" 
                                class="rounded-xl overflow-hidden w-52">
                            <p class="text-m md:text-m font-medium mt-3 text-white">
                                {{ forloop.counter }}. {{ book.title }}
                                <br>
                                -- {{ book.category }}
                            </p>
                            <br>
                            <br>
                            <button class="text-center bg-gray-600 text-white py-2 rounded-lg font-semibold mt-4 hover-bg-gray-400 
                                focus:scale-95 transition-all duration-50 absolute inset-x-3 bottom-3" 
                                onclick="window.location.href='/book/{{ book.pk }}/'">
                                Details
                            </button>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-white">No books have been reviewed.</p>
                {% endfor %}
            </div>
        </div>
        <hr class="" width="100%">
        <div class="book-list">
            <h2 class="text-xl font-semibold text-white">
                <ion-icon name="bookmark-outline" class="text-white"></ion-icon>
                Bookmarks
            </h2>
            <div class="book-items">
                <div class="flex items-center justify-content-center container mx-auto my-8">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">
                {% for book in bookmarked_books %}
                    <div class="rounded-xl shadow-lg bg-zinc-800 relative">
                        <div class="p-5 flex flex-col">
                            <img src="{{ book.image_link }}" alt="Cover for {{ book.title }}" 
                                class="rounded-xl overflow-hidden w-52">
                            <p class="text-m md:text-m font-medium mt-3 text-white">
                                {{ forloop.counter }}. {{ book.title }}
                                <br>
                                -- {{ book.category }}
                            </p>
                            <br>
                            <br>
                            <button class="text-center bg-gray-600 text-white py-2 rounded-lg font-semibold mt-4 hover-bg-gray-400 
                                focus:scale-95 transition-all duration-50 absolute inset-x-3 bottom-3" 
                                onclick="window.location.href='/book/{{ book.pk }}/'">
                                Details
                            </button>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-white">No books have been bookmarked.</p>
                {% endfor %}
            </div>
        </div>
        <hr class="" width="100%">
        <div class="book-list">
            <h2 class="text-xl font-semibold text-white">
                <ion-icon name="heart-outline" class="text-white"></ion-icon>
                Likes
            </h2>
            <div class="book-items">
                <div class="flex items-center justify-content-center container mx-auto my-8">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">
                {% for book in liked_books %}
                    <div class="rounded-xl shadow-lg bg-zinc-800 relative">
                        <div class="p-5 flex flex-col">
                            <img src="{{ book.image_link }}" alt="Cover for {{ book.title }}" 
                                class="rounded-xl overflow-hidden w-52">
                            <p class="text-m md:text-m font-medium mt-3 text-white">
                                {{ forloop.counter }}. {{ book.title }}
                                <br>
                                -- {{ book.category }}
                            </p>
                            <br>
                            <br>
                            <button class="text-center bg-gray-600 text-white py-2 rounded-lg font-semibold mt-4 hover-bg-gray-400 
                                focus:scale-95 transition-all duration-50 absolute inset-x-3 bottom-3" 
                                onclick="window.location.href='/book/{{ book.pk }}/'">
                                Details
                            </button>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-white">No books have been liked.</p>
                {% endfor %}
            </div>
        </div>
        <hr class="" width="100%">
    </div>
{% endblock content %}
