{% extends 'base.html' %}

{% block content %}
    <div class="text-white my-5 mx-3 text-center">
        <p id="sorting" class="text-5xl text-center mb-0">Books You Reviewed</p>
    </div>
    
    <div id="book_cards" class="text-white mx-3"></div>

    <script>
        // ajax get
        async function showBooks() {
            return fetch("{% url 'show_books' %}").then((res) => res.json());
        }

        // sort by stars. if the stars is equal => ascending by title
        function compareByRating(a, b) {
            if (a.fields.stars == b.fields.stars) {
                return b.fields.title.localeCompare(a.fields.title);
            }
            return a.fields.stars - b.fields.stars;
        }

        async function showDetails(pk) {
            window.open("book-id-" + pk + "/", "_blank");
        }
    
        async function refreshBooks() {
            document.getElementById("book_cards").innerHTML = "";           
            let htmlString = `<div class="flex items-center justify-content-center container mx-auto my-8">
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">`;

            const books = await showBooks();
            document.getElementById("sorting").innerHTML = `\n<p class="text-center mt-0 text-5xl mb-0">Leaderboard by Rating</p>`;
            books.sort(compareByRating);
            books.reverse();
            // show all books reviewed
            for (let i = 0; i < books.length; i++) {
                book = books[i];
                htmlString += `\n
                <div class="rounded-xl shadow-lg bg-zinc-800 relative">
                    <div class="p-5 flex flex-col">
                        <img src="${book.fields.image_link}" alt="Cover for ${book.fields.title}" 
                        class="rounded-xl overflow-hidden w-52">
                        <p class="text-m md:text-m font-medium mt-3 text-white">
                            ${i+1}. ${book.fields.title}
                            <br>
                            -- ${book.fields.category}
                        </p>
                        <br>
                        <br>
                        <button class="text-center bg-gray-600 text-white py-2 rounded-lg font-semibold mt-4 hover:bg-gray-400 
                        focus:scale-95 transition-all duration-50 absolute inset-x-3 bottom-3" method="GET" onclick="showDetails(${book.pk})">
                            Details
                        </button>
                    </div>
                </div>`
            }
            htmlString += `\n</div></div>`;         
        }
        document.getElementById("book_cards").innerHTML = htmlString;

        refreshBooks("rating"); // Default = by rating
    </script>
{% endblock content %}